<div class="flexColumnAlignStartStretch">

    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>Fachpraktikum Programmiersysteme WiSe24/25</i> by <br>
        Matthäus Müller, Alexander Reuter, Senai Tesfamicael & Florian Vossler
    </h2>

    <!--    Main content    -->
    <!-- Toast -->
    <div *ngFor="let toast of toastMessages">
        <app-toast [message]="toast.message" [type]="toast.type" [duration]="toast.duration"></app-toast>
    </div>
    <app-display
        id="canvas"
        class="padding full-size"
        (fileData)="processSourceChange($event)"
    >
    </app-display>

    <div
        class="gap_30px"
    >
    </div>
    <div
        class="flexRowAlignSpaceEvenlyStart"
    >
        <text-input
            class="inputContainer"
            (textData)="processSourceChange($event)"
        >
        </text-input>
        <div
            class="flexColumnAlignStartStretch"
        >
        <save-button>
        </save-button>
        <div
        class="gap_40px"
        >
        </div>
        <delete-button>
        </delete-button>
        </div>
        <div
            class="flexColumnAlignStartStretch"
        >
        <info-button>
        </info-button>
        <div
        class="gap_40px"
        >
        </div>
        <traces-button>
        </traces-button>
        </div>
        <mat-form-field
            appearance="outline"
            class="outputContainer">
            <mat-label>
                File Content
            </mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="7"
                [formControl]="fileAreaFc">
            </textarea>
        </mat-form-field>
        <mat-form-field
            appearance="outline"
            class="outputContainer">
            <mat-label>
                Event Log
            </mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="7"
                [formControl]="logAreaFc">
            </textarea>
        </mat-form-field>
    </div>
    <div
        class="gap_30px"
    >
    </div>
    <div
        class="flexRowAlignSpaceEvenlyStart"
    >
        <app-example-file
            title=".json File I"
            link="assets/files-in/example.json"
            description="The given Petri Net in .json format.">
        </app-example-file>
        <app-example-file
            title=".json File II"
            link="assets/files-in/pn-test.json"
            description="Another small Petri Net in .json format.">
        </app-example-file>
        <app-example-file
            title=".json File III"
            link="assets/files-in/empty.json"
            description="An empty .json file.">
        </app-example-file>
    </div>
    <div
        class="flexRowAlignSpaceEvenlyStart"
    >
        <app-example-file
            title=".xes File I"
            link="assets/files-in/teleclaimsExample.xes"
            description="A large example Event Log in .xes format.">
        </app-example-file>
        <app-example-file
            title=".xes File II"
            link="assets/files-in/teleclaimsShortest.xes"
            description="A very short Event Log in .xes format.">
        </app-example-file>
        <app-example-file
            title=".xes File III"
            link="assets/files-in/empty.xes"
            description="An empty .xes file.">
        </app-example-file>
    </div>

    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>

</div>
