<div class="flexColumnAlignStartStretch">

    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>Fachpraktikum Programmiersysteme WiSe24/25</i> by <br>
        Matthäus Müller, Alexander Reuter, Senai Tesfamicael & Florian Vossler
    </h2>

    <!--    Main content    -->
    <!-- Toast -->
    <div *ngFor="let toast of toastMessages">
        <app-toast [message]="toast.message" [type]="toast.type" [duration]="toast.duration"></app-toast>
    </div>
    <app-display
        id="canvas"
        class="padding full-size"
        (fileData)="processSourceChange($event)"
    >
    </app-display>
    <div
    class="gap_30px_v"
    >
    </div>
    <div
        class="flexRowAlignSpaceEvenlyStart"
    >
        <mat-form-field
            appearance="outline"
            class="logContainer"
        >
            <mat-label>
                Event Log (detailed view)
            </mat-label>
            <div
                appearance="outline"
                class="logContainer"
            >
                <textarea
                    matInput
                    cdkTextareaAutosize
                >
                </textarea>
                @for (trace of logArray; track trace.id) {
                    @if ($last) {
                        <li>
                        @for (event of trace.events; track event.id) {
                            @if ($first) {
                                "<font color={{event.color}}>{{event.label}}</font>"
                            } @else {
                                <font> </font>"<font color={{event.color}}>{{event.label}}</font>"
                            }
                        }
                        </li>
                    } @else {
                        <li>
                            @for (event of trace.events; track event.id) {
                                @if ($first) {
                                    "<font color={{event.color}}>{{event.label}}</font>"
                                } @else {
                                    <font> </font>"<font color={{event.color}}>{{event.label}}</font>"
                                }
                            }
                            <font> + </font>
                        </li>
                    }
                } @empty {
                    (no log available)
                }
                <textarea
                    matInput
                    cdkTextareaAutosize
                >
                </textarea>
            </div>
        </mat-form-field>
        <text-input
            class="inputConatiner"
            (textData)="processSourceChange($event)"
        >
        </text-input>
        <div
            class="flexColumnAlignStartStretch"
        >
            <div
                class="flexRowAlignSpaceEvenlyStart"
            >
                <save-button>
                </save-button>
                <delete-button>
                </delete-button>
                <div
                class="gap_40px_h"
                >
                </div>
                <submit-button>
                </submit-button>
            </div>
            <div
                class="gap_40px_v"
            >
            </div>
            <div
                class="flexRowAlignSpaceEvenlyStart"
            >
                <embedder-button>
                </embedder-button>
                <traces-button>
                </traces-button>
                <info-button>
                </info-button>
                <weight-button>
                </weight-button>
            </div>
            <div
                class="gap_40px_v"
            >
            </div>
            <mode-button>
            </mode-button>
        </div>
    </div>
    <div
        class="gap_30px_v"
    >
    </div>
    <div
        class="flexRowAlignSpaceEvenlyStart"
    >
        <app-example-file
            title="An empty .xes file."
            label=".xes File I (empty)"
            link="assets/files-in/empty.xes"
        >
        </app-example-file>
        <app-example-file
            title="A very short Event Log in .xes format."
            label=".xes File II (small)"
            link="assets/files-in/teleclaimsShortest.xes"
        >
        </app-example-file>
        <app-example-file
            title="A large example Event Log in .xes format."
            label=".xes File III (large)"
            link="assets/files-in/teleclaimsExample.xes"
        >
        </app-example-file>
        <app-example-file
            title="An empty .json file."
            label=".json File I (empty)"
            link="assets/files-in/empty.json"
        >
        </app-example-file>
        <app-example-file
            title="A Petri Net in .json format."
            label=".json File II (default)"
            link="assets/files-in/example.json"
        >
        </app-example-file>
        <app-example-file
            title="A previously exported Graph in .json format."
            label=".json File III (test)"
            link="assets/files-in/exclusive-cut.json"
        >
        </app-example-file>
    </div>
    <div
        class="gap_30px_v"
    >
    </div>
    <hr>
    <div
        class="gap_30px_v"
    >
    </div>
    <div
    class="flexRowAlignSpaceEvenlyStart"
    >
        <mat-form-field
            appearance="outline"
            class="outputContainer"
        >
            <mat-label>
                File Content
            </mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="30"
                [formControl]="fileAreaFc"
            >
            </textarea>
        </mat-form-field>
        <mat-form-field
            appearance="outline"
            class="outputContainer"
        >
            <mat-label>
                Event Log
            </mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                contenteditable="true"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="30"
                [formControl]="logAreaFc"
            >
            </textarea>
        </mat-form-field>
    </div>

    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>

</div>
