<div class="flexColumnAlignStartStretch">

    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/">
            <h1>I <span class="red">❤</span> Petri Nets</h1>
        </a>
    </div>
    <h2>
        <i>Fachpraktikum Programmiersysteme WiSe24/25</i> by <br>
        Matthäus Müller, Alexander Reuter, Senai Tesfamicael & Florian Vossler
    </h2>

    <!--    Main Content    -->

    <!-- toast -->
    <div *ngFor="let toast of toastMessages">
        <app-toast [message]="toast.message" [type]="toast.type" [duration]="toast.duration">
        </app-toast>
    </div>

    <!-- canvas -->
    <app-display
        id="canvas"
        class="padding full-size"
        (fileData)="processSourceChange($event)"
    >
    </app-display>

    <!-- vertical gap of 60 px -->
    <div
        class="gap_v_60px"
    >
    </div>

    <!-- display controls, text input, draggable example & log view -->
    <div
        class="flexRowAlignSpaceBetweenStart"
    >
        <div
            class="container_inout"
        >
            <div
                class="flexRowAlignSpaceBetweenStart"
            >
                <app-example-file
                    title="An example Event Log of Teleclaims processes, stored as a .xes file."
                    label="Teleclaims Event Log"
                    link="assets/example-files/logs__Teleclaims_Example_(modified).xes"
                >
                </app-example-file>
                <app-example-file
                    title="An example Event Log of Workshop processes, stored as a .xes file."
                    label="Workshop Event Log"
                    link="assets/example-files/logs__Workshop_Organisation_(6.1.2).xes"
                >
                </app-example-file>
                <app-example-file
                    title="An example Graph containing an Exclusive Cut, stored as a .json file."
                    label="Exclusive Cut"
                    link="assets/example-files/cuts__Exclusive_Cut.json"
                >
                </app-example-file>
                <app-example-file
                    title="An example Graph containing a Sequence Cut, stored as a .json file."
                    label="Sequence Cut"
                    link="assets/example-files/cuts__Sequence_Cut.json"
                >
                </app-example-file>
                <app-example-file
                    title="An example Graph containing a Parallel Cut, stored as a .json file."
                    label="Parallel Cut"
                    link="assets/example-files/cuts__Parallel_Cut.json"
                >
                </app-example-file>
                <app-example-file
                    title="An example Graph containing a Loop Cut, stored as a .json file."
                    label="Loop Cut"
                    link="assets/example-files/cuts__Loop_Cut.json"
                >
                </app-example-file>
            </div>
            <div
                class="gap_v_40px"
            >
            </div>
            <div
                class="flexRowAlignSpaceBetweenStart"
            >
                <mat-form-field
                    appearance="outline"
                    class="container_log"
                >
                    <mat-label>
                        Event Log (detailed view)
                    </mat-label>
                    <div
                        appearance="outline"
                        class="container_log"
                    >
                        <textarea
                            matInput
                            cdkTextareaAutosize
                        >
                        </textarea>
                        @for (trace of logArray; track trace.id) {
                            @if ($last) {
                                <li>
                                @for (event of trace.events; track event.id) {
                                    @if ($first) {
                                        "<font color={{event.color}}>{{event.label}}</font>"
                                    } @else {
                                        <font> </font>"<font color={{event.color}}>{{event.label}}</font>"
                                    }
                                }
                                </li>
                            } @else {
                                <li>
                                    @for (event of trace.events; track event.id) {
                                        @if ($first) {
                                            "<font color={{event.color}}>{{event.label}}</font>"
                                        } @else {
                                            <font> </font>"<font color={{event.color}}>{{event.label}}</font>"
                                        }
                                    }
                                    <font> + </font>
                                </li>
                            }
                        } @empty {
                            (no log available)
                        }
                        <textarea
                            matInput
                            cdkTextareaAutosize
                        >
                        </textarea>
                    </div>
                </mat-form-field>
                <text-input
                    class="container_in"
                    (textData)="processSourceChange($event)"
                >
                </text-input>
            </div>
        </div>
        <div
            class="container_controls"
        >
            <mode-button>
            </mode-button>
            <div
                class="gap_v_40px"
            >
            </div>
            <div
                class="flexRowAlignSpaceEvenlyStart"
            >
                <save-button>
                </save-button>
                <delete-button>
                </delete-button>
                <div
                class="gap_h_40px"
                >
                </div>
                <div
                class="gap_h_30px"
                >
                </div>
                <div
                class="gap_h_40px"
                >
                </div>
                <submit-button>
                </submit-button>
            </div>
            <div
                class="gap_v_40px"
            >
            </div>
            <div
                class="flexRowAlignSpaceEvenlyStart"
            >
                <embedder-button>
                </embedder-button>
                <traces-button>
                </traces-button>
                <info-button>
                </info-button>
                <symbols-button>
                </symbols-button>
                <labels-button>
                </labels-button>
                <weights-button>
                </weights-button>
            </div>
        </div>
    </div>
    
    <!-- vertical gap of 30 px -->
    <div
        class="gap_v_30px"
    >
    </div>
    
    <!-- horizontal line -->
    <hr>

    <!-- vertical gap of 30 px -->
    <div
        class="gap_v_30px"
    >
    </div>

    <!-- file & log output -->
    <div
    class="flexRowAlignSpaceEvenlyStart"
    >
        <mat-form-field
            appearance="outline"
            class="container_out"
        >
            <mat-label>
                File Content
            </mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="30"
                [formControl]="fileAreaFc"
            >
            </textarea>
        </mat-form-field>
        <mat-form-field
            appearance="outline"
            class="container_out"
        >
            <mat-label>
                Event Log
            </mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                contenteditable="true"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="30"
                [formControl]="logAreaFc"
            >
            </textarea>
        </mat-form-field>
    </div>

    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>

    <!-- vertical gap of 30 px -->
    <div class="gap_v_30px"></div>

</div>
