<mat-button-toggle-group
    name="CheckMode" 
    aria-label="Switch Checked Mode" 
    value="ec" 
    [matTooltip]="tooltip"
>
    <mat-button-toggle 
        value="ec" 
        (click)="processMouseClickA()"
    >
        EC
    </mat-button-toggle>
    <mat-button-toggle 
        value="sc" 
        (click)="processMouseClickB()"
    >
        SC
    </mat-button-toggle>
    <mat-button-toggle 
        value="pc" 
        (click)="processMouseClickC()"
    >
        PC
    </mat-button-toggle>
    <mat-button-toggle 
        value="lc" 
        (click)="processMouseClickD()"
    >
        LC
    </mat-button-toggle>
    <mat-button-toggle 
        value="bc" 
        (click)="processMouseClickE()"
    >
        BC
    </mat-button-toggle>
    <mat-button-toggle 
        value="ft" 
        (click)="processMouseClickF()"
    >
        FT
    </mat-button-toggle>
</mat-button-toggle-group>